
<nav class="navbar navbar-light" >
  <div class="container" style="height: 30px;display: flex;">

           <h1 class="text-center " style="margin-left: 550px;"> Géolocalisation</h1>

  </div>
</nav>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4563.3899157302585!2d-16.458606684778847!3d15.372535161812866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xeea9d098a9114a3%3A0x54b14a0f04a8250d!2sChez%20Papa%20Gentil!5e1!3m2!1sfr!2ssn!4v1679560773388!5m2!1sfr!2ssn" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<style>
  .navbar{
    border-radius: 5px;
    border-color: #000000;
    background-color: #3A3A3A;
  }

  h1
{
  font-size: 32px;
  color: #91D333;

  text-align:center;
}
  </style>


