.navbar {
    border-width: 0 0 1px 0;
    border-style: solid;
    background-color: #3A3A3A ;
    height: 100px;
  }
  .alert{
    filter: contrast(210%);
   
  }

  .colorr{
    background-color: #3A3A3A;
  }



.e{
  background-color: #ffff;
  cursor: pointer;
}
.active{
  background-color: #91D333;
  outline: none;
}
/* .e:focus{
  background-color: #91D333;
  cursor: pointer;
} */
//popup

.ok{
  box-shadow: 5px 5px 5px black;
  background-color: #91D333;
}

.bordure{
  border: none;
}
.boutton{
  background-color: #3A3A3A;
  color: #91D333;
  border: #91D333;
}


.p{
  border: 1px solid;
  border-color: #91D333;
}

.bouttonr{
  background-color: red;
  color: #91D333;
  border: #91D333;
}










